@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~@angular/material/theming';

@include mat-core();

/* Custom Material Theme */
$app-primary: mat-palette($mat-blue-grey);
$app-accent: mat-palette($mat-indigo);
$app-warn: mat-palette($mat-red);

$kitchen-app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($kitchen-app-theme);
/* End custom theme */

html, body {
  height: 100%;
  background-color: #f5f5f5;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


@keyframes blink {
  50% {
    background-color: mat-color($app-warn)
  }
}